body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.country-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.info-card{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: white;
    width: 100%;
}

.sticky-card .card-title{
    position:relative;
    z-index:999;
    box-shadow: 0px 7.5px 5px -5px #8fb7dd50;
}
.sticky-card{
    background-color: white;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.country-flag{
    margin: 0px 20px 0px 10px;
    width: 40px;
    height: 30px;
    border-radius: 5px;
}

.country-name, .country-title{
    flex-grow: 2;
    flex-shrink: 0;
    width: 30%;
    font-size: 1.2rem;
    margin: 5px 0px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.country-title{
    width: calc(30% + 70px);
}

.country-confirmed, .country-deaths, .country-recovered{
    flex-grow: 1;
    flex: 1;
    text-align: center;
    width: 10%;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 10px;
    margin: 0px;
}

.country-confirmed, .country-name, .country-title{
    color: #8fb7dd;
}
.country-deaths{
    color: #DF7861;
}
.country-recovered{
    color: #91e491;
}

.title{
    font-weight: 300;
}


.Search-Container{
    display: flex;
    align-items: center;
    margin: 20px 0px 0px;
}

h1{
    box-sizing: border-box;
    color: #5990c4;
    width: 300px;
}
.Search-Bar{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
.Region-Selector, .Search{
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 1.25rem;
    text-align: center;
    color: #8fb7dd;
    border: none;
    border-bottom: 1px solid #5990c4;
    padding: 2.5px 10px;
    margin: 5px 10px;
}
.Region-Selector{
    width: 100px;
}
.Search{
    min-width: 150px;
    width: 50%;
    text-align: left;
    border: 1px solid #5990c4;
    box-shadow: 0px 0px 5px 0px #5990c441;
    border-radius: 15px;
}
.Search::placeholder{
    font-weight: 300;
    color: #8fb7dd91;
}